@font-face {
    font-family: "vcr";
    src: url(fonts/vcr/VCR_OSD_MONO.ttf);
}

@font-face {
    font-family: "dpcomic";
    src: url(fonts/dpcomic/dpcomic.ttf);
}

@font-face {
    font-family: "lunch";
    src: url(fonts/lunchtime/lunchds.ttf);
}

@font-face {
    font-family: "manaspace";
    src: url(fonts/manaspace/manaspc.ttf);
}

div {
    font-family: "vcr";
}

.gray img{
filter: grayscale(100%);
-webkit-filter: grayscale(100%);
-webkit-transition: all 1s ease;
}

.gray img:hover{
filter: grayscale(0%);
filter: gray;
-webkit-filter: grayscale(0%);
filter: none;
transition: 1s ease;
}

.grow img{
transition: 1s ease;
}

.grow img:hover{
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: 1s ease;
}